#dates_from_to {
    display: flex;
    flex-direction: row;
    gap:10px;
}
#dates_from_to > * {
    flex: 1; /* Each child will take up an equal portion of the row */
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.event-card h3 {
    margin-top: 0;
}
.event-card p {
    margin-bottom: 8px;
}