.row.content {
  height: auto;
}
.col-sm-3.sidenav {
  position: sticky;
  overflow-y: auto;
}
.sidenav {
  top: 0;
  background-color: #f1f1f1;
  height: 100vh;
}


@media screen and (max-width: 767px) {
  .row.content {height: auto;}
  .row {margin-top: -20px; }
  .row h2 {padding-top: 10px;}
}
